.app{
  min-height: 100vh;
  background: rgb(15, 0, 97);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet{
  border: 350px;
  height: 300px;
  width: 350px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}