.app{
  display: grid;
  grid-template-columns: minmax(150px, 25%) auto;
}
.sectionY{
  background: rgb(255, 241, 39)
}

.tweet{
  border: 350px;
  height: 300px;
  width: 350px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.name{


}